.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #f87a81;
  border: 1px solid #f57a81;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #fe676e;
  border-color: #fe676e;
}
